numpy
pillow
pip
ffmpeg>=6.1.1
whisperspeech
mlx==0.5.0
mlx-lm==0.0.14
huggingface-hub==0.21.3
llvmlite
more-itertools
numba
packaging
regex
scipy
tiktoken
tqdm
hf-transfer
whisper
pydub
speechbrain
--extra-index-url=https://download.pytorch.org/whl/nightly
torch
torchaudio
torchvision